*.iml
.gradle
/local.properties

.idea/*
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
